# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

###### __Objectives__
* Some popular Laguages in Data Science
* Some commonly used libraries in Data Science
* Making table in Markdown
* Making ordered list
* Performing basic arithmatic operations
* Share the notebook through GitHub

### Some of the popular languages that Data Scientists use are:
1. Python
2. RLanguage
3. SQL

### Some of the commonly used libraries used by Data Scientists include:
* Pandas
* Numpy
* ggplot
* Scipy

### Table of Data Science Tools
|Data Science tools|
|--------------------|
|Python|
|RStudio|
|Apache Spark|
|SQL|

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [ ]:
#This will convert 200 minutes to hours by diving by 60
h=200//60
m=200%60
print(h, "hours and", m, "minutes")

3 hours and 20 minutes

## Author
###### Amit Kumar